.image-loader-wrapper-class {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* placeholder image */
.image-small-element-class {
  display: block;
  position: absolute;
  width: 100%;
  inset: 0;
  filter: blur(12px);
  transform: scale(1.01);
  z-index: 1;
  transition: opacity 300ms ease-in;
}

.image-small-element-class[data-image-loaded="true"] {
  pointer-events: none;
  opacity: 0;
  animation: hideSmallImage 100ms linear 300ms forwards;
}

@keyframes hideSmallImage {
  to {
    display: none;
  }
}

/* the image */
.image-element-class {
  position: relative;
  z-index: 2;

  display: block;
  width: 100%;
  opacity: 0;

  transition: opacity 300ms ease-in;
}

.image-element-class[data-image-loaded="true"] {
  opacity: 1;
}

/* ===Loaders=== */
:root {
  --width: 8%;
}

/* spinner */
.spinner-loader-class::after,
.spinner-loader-class::before {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  margin: auto;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.6);
  animation: rotate-spinner 2s ease-in-out infinite;
}

.spinner-loader-class::before {
  border-radius: 50%;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: var(--width);
}

.spinner-loader-class::after {
  border-radius: 50%;
  border: 2px solid #fff;
  border-left-color: transparent;
  border-top-color: transparent;
  width: calc(var(--width) + 8px);
}

@keyframes rotate-spinner {
  to {
    transform: rotate(360deg);
  }
}

/* pulse */
.pulse-loader-class::after {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  background-color: rgba(255, 255, 255, 0);
  animation: opacity-pulse 2s ease-in-out infinite alternate;
}

@keyframes opacity-pulse {
  to {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

/* remove loaders onload */
.image-loader-wrapper-class[data-image-loaded="true"]::before,
.image-loader-wrapper-class[data-image-loaded="true"]::after {
  display: none;
}
